/* Reset */
* {
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
}
body{
    font-family: Open Sans;
    color: hsl(0, 0%, 100%);
    background: hsl(218, 28%, 13%);
    font-size: 0.875em;
    font-weight: 400;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
h1 {
    font-size: 1.5rem;
    font-family: Raleway;
}
h2 {
    font-size: 1.25rem;
    font-family: Raleway;
}   
h3 {
    font-size: 1rem;
    font-family: Raleway;
}
h4 {
    font-size: 0.6875rem;
    font-family: Raleway;
}

.flex {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
}

/* Header */

.header {
    background: hsl(217, 28%, 15%);
}

.menu {  
    padding: 40px;
    justify-content: space-between;
    font-family: Raleway;
}

.menu-logo {
    display: block;
    width: 80px;
}

.menu-nav {
    align-self: center;
}

.menu-nav ul li{
    display: inline;
    margin: 10px;
}
.menu-nav ul li:first-child{
    margin-left: 0;
}
.menu-nav ul li:last-child{
    margin-right: 0;
}

@media (max-width: 375px){
    .menu {
        padding: 20px;
    }
}

/* Get Started */

.get-started {
    background: hsl(217, 28%, 15%);
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 10px;
}

.get-started div{
    max-width: 400px;
    margin: 10px auto;
}

.get-started h1{
    max-width: 500px;
    margin: 10px auto;
}

.get-started p{
    max-width: 420px;
    margin: 30px auto;
}

.btn{
    background: hsl(198, 60%, 50%);
    font-weight: 700;
    padding: 15px 60px;
    border-radius: 30px;
}

@media (max-width: 375px){
    .get-started {
        max-width: 375px;
        padding: 30px 10px;
    }
    .get-started div{
        max-width: 330px;
    }
    .get-started h1{
        max-width: 330px;
    }
    .get-started p{
        max-width: 290px;
    }
}

/* Advantages */

.advantages {
    padding: 40px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.advantages ul {
    margin: 0 auto;
    text-align: center;
}

.advantages ul li {
    max-width: 390px;
    margin: 20px 50px;
    display: inline-block;
    text-align: center;
}

.advantages h3 {
    margin: 10px auto;
}

.advantages img {
    margin: 15px auto;
}

@media (min-width: 376px) and (max-width:1100px){
    .advantages ul li {
        margin: 10px 0;
    }
}

@media (max-width: 375px) {
    .advantages {
        max-width: 375px;
    }
    .advantages ul li {
        width: 320px;
        margin: 10px 0;
    }
}

/* Stay Productive */

.stay-productive {
    padding: 40px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.stay-productive > div{
    align-items: center;
    justify-content: center;
}

.stay-productive div div{
    max-width: 400px;
    margin: 20px;
}

.stay-productive h1{
    max-width: 200px;
    margin: 20px 0;
}
.stay-productive p{
    margin: 20px 0;
}
.link{
    color: hsl(176, 68%, 64%);
    text-decoration: underline;
}

.link span {
    background: url(../imagens/icon-arrow.svg) no-repeat;
    padding: 10px;
    position: relative;
    bottom: -12px;
    right: -5px;
}

@media (max-width: 375px) {
    .stay-productive {
        max-width: 375px;
    }
    .stay-productive h1{
        max-width: 300px;
        font-size: 1.125rem;
    }
}

/* Comments */

.comments {
    padding: 40px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.comments ul {
    margin: 0 auto;
    text-align: center;
}

.comments ul li{
    position: relative;
    display: inline-block;
    text-align: left;
    max-width: 325px;
    background: hsl(219, 30%, 18%);
    margin: 15px 25px;
    padding: 30px 20px 20px 20px;
    border-radius: 5px;
}

.comments span{
    background: url(../imagens/bg-quotes.png) no-repeat;
    padding: 30px;
    position: absolute;
    top: -35px;
    left: -10px;
    z-index: -1;
}

.foto-perfil {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.perfil {
    margin-top: 15px;
}

.perfil p{
    font-size: 0.5625rem;
}

@media (max-width: 375px) {
    .comments span {
        transform: scale(0.5);
    }
    .comments > ul li {
        font-size: 0.6875rem;
    }
}

/* Access Today */

.access-today {
    padding: 0 20px;
}

.access-today div{
    padding: 20px;
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
    background: hsl(217, 28%, 15%);
    border-radius: 5px;
    box-shadow: 1px;
    position: relative;
    bottom: -100px;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
}

.access-today h2{
    margin-bottom: 5px;
}

.formulario {
    margin: 10px 0;
    align-items: center;
}

.formulario input{
    padding: 15px;
    border-radius: 30px;
    width: 300px;
    margin: 10px;
    border: none;
}

.btn-formulario {
    background: hsl(198, 60%, 50%);
    color: #fff;
    font-weight: 700;
    padding: 15px 60px;
    border-radius: 30px;
    border: none;
}

.btn-formulario:hover {
    cursor: pointer;
}

@media (max-width: 730px) {

    .formulario {
        justify-content: center;
    }

    .formulario input{
        margin: 10px 0;
        width: 350px;
    }

    .btn-formulario {
        width: 350px;
    }
}

/* Footer */

.footer {
    background: hsl(216, 53%, 9%);
}

.footer > div{
    padding: 150px 40px 20px 40px;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-logo {
    margin: 0 auto;
}


.footer-location {
    max-width: 320px;
    text-align: left;
    margin: 20px 20px 20px 0;
}

.footer-location span {
    background: url(../imagens/icon-location.svg) no-repeat;
    padding: 10px;
    position: relative;
    bottom: -31px;
    right: 5px;
}

.footer-location p{
    margin-left: 20px;
}

.footer-phone-email {
    width: 200px;
    margin: 20px;
}

.footer-phone {
    background: url(../imagens/icon-phone.svg) no-repeat;
    padding: 10px;
    position: relative;
    bottom: -31px;
    right: 5px;
}

.footer-email {
    background: url(../imagens/icon-email.svg) no-repeat;
    padding: 10px;
    position: relative;
    bottom: -31px;
    right: 5px;
}

.footer-phone-email p {
    margin-left: 20px;
}

.footer-about {
    margin: 36px 20px 20px 20px;
}

.footer-about li{
    margin-bottom: 10px;
}

.footer-contact {
    margin: 36px 20px 20px 20px;
}

.footer-contact li{
    margin-bottom: 10px;
}

.footer-social {
    margin: 36px 20px 20px 20px;
    width: 140px;
}

.footer-social i{
    margin: 5px;
}

.footer-social a {
    transform: scale(1.5);
    border: 1px solid white;
    border-radius: 100%;
    padding: 1px;
    margin: 0 5px;
}

.footer-lista {
    justify-content: space-around;
}

@media (max-width:730px) {
    .footer-lista {
        display: block;
    }
    .footer-social {
        margin: 40px auto 20px auto;
    }
}